.container {
    padding:5%;
}
.test {
    width:100%;
    height:400px;
    margin-bottom:100px;
    border:1px solid #a8a8a8;
}
.test1 {
    background-color: #d5fcff;
}
.test2 {
    background-color: #b3ffb4;
}
.test3 {
    background-color: #ffd3c5;
}
.test4 {
    background-color: #d6ddff;
}
.test5 {
    background-color: rgba(247, 255, 44, 0.51);
}
