/*  создал стили более компактно, не модульно, как в прошлый раз  */

.test:not(.test3):not(.test4) > div {
  width: 50%;
  height: 33.33%;
  background-color: royalblue;
  position: relative;
}

.test1 > div:last-child {
  float: right;
}

.test1 > div:nth-child(2) {
  clear: both;
  margin: 0 auto;
}

.test2 {
  display: flex;
  flex-direction: column;
}

.test2 > .block2 {
  align-self: center;
}

.test2 > .block3 {
  margin-left: auto;
}

.d-flex > div {
  background-color: royalblue;
}

.test5 > .block2 {
  left: 25%;
}

.test5 > .block3 {
  left: 50%;
}
